@import "./shared.scss";

.content {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    & > * {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__title {
        font-family: $sans-serif;
        font-size: $subheading;
        color: $muted;
    }
}
