@import "./shared.scss";

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $on-background;
    color: $surface;
    font-family: $monospace;
    z-index: $z-nav;

    a:hover,
    button:hover {
        text-decoration: none;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $brand;
        padding: 0.5rem 1rem;
    }

    &__detail {
        color: $primary;
    }

    &__toggle {
        cursor: pointer;
    }

    &__menu {
        background-color: $primary;
        box-shadow: 0 2px 8px 1px $on-background;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        font-style: italic;
        font-size: $heading;
    }

    &__margin {
        height: 52px;
    }
}
